@page "/my-bookings"
@model Aapartment.Web.Pages.SitePages.MyBookingsModel
@{
    ViewData["Title"] = "My latest bookings";
}
<div class="text-center mt-5 mb-5">
    <h4 class="display-4">@ViewData["Title"]</h4>
</div>

