@page "/confirm-email"
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmed.";
}

<div class="mt-5 p-3" style="background-color: #00203FFF; color: #ADEFD1FF; border-radius: 16px 16px">
    <h1 class="mt-3 ms-5">@ViewData["Title"]</h1>
    <h3 class="mb-3 ms-5"><br /> Welcome to Aapartment site, we hope you will find the best place for vacation.</h3>
</div>
