<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
</head>
<body style="height:100%">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color:#00203FFF;color: #ADEFD1FF">
            <div class="container">
                <a class="navbar-brand" style="color: #ADEFD1FF" asp-page="/AdminSitePages/Admin"><h3>Aapartment adminsite</h3></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#ADEFD1FF; font-size:24px;"></i></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end text-right" id="navbarText">
                    <ul class="navbar-nav mb-2 mb-lg-0 text-right">
                        <li class="nav-item">
                            <a asp-page="/AdminSitePages/ApartmentManagement" class="nav-link" style="color: #ADEFD1FF"><b>Apartment management</b></a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/AdminSitePages/UserManagement" class="nav-link" style="color: #ADEFD1FF"><b>User management</b></a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/AdminSitePages/BookingManagement" class="nav-link" style="color: #ADEFD1FF"><b>Booking management</b></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #ADEFD1FF" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <b>Profile</b>
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nohover"><a class="dropdown-item" style="color: #ADEFD1FF" asp-page="/SitePages/ProfileSettings">Profile Settings</a></li>
                                    <li class="nohover"><a class="dropdown-item" style="color: #ADEFD1FF" href="/logout">Logout</a></li>
                                }
                                else
                                {
                                    <li class="nohover"><a class="dropdown-item" style="color: #ADEFD1FF" href="/login">Login</a></li>
                                }
                            <li class="nohover"><a class="dropdown-item" style="color: #ADEFD1FF" asp-page="/Index">Back to customersite</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container" style="height:100%">
        <main role="main" class="pb-3" style="height:100%">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#00203FFF; color: #ADEFD1FF">
        <div class="container d-flex justify-content-between">
            <div style="color: #ADEFD1FF">
                Contact us: info@aapartment.com
            </div>
            <div style="color: #ADEFD1FF">
                Call: 06 1440 5560
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
